<div class="conatiner">
    <div class="card mx-auto mt-5" style="width: 300px;">
        <h5 class="card-header text-center">Sign Up For Free!</h5>
        <div class="card-body">
            <form [formGroup]="signupform" (ngSubmit)="onsignup()" >
                <div class="form-group text-center">
                    <label  for="Name">Name</label>
                    <input type="text" class="form-control" formControlName="name" required> 
                  </div>
                <div class="form-group text-center">
                  <label  for="email">Email address</label>
                  <input type="email" class="form-control" formControlName="email" required> 
                </div>
                <div class="form-group text-center">
                  <label  for="password">Password</label>
                  <input type="password" class="form-control" formControlName="password" required >
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!signupform.valid">Sign Up</button>
            </div>
              </form>
        </div>
      </div>
</div>